.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: fixed;
    width: 90%;
    z-index: 10000;
}


.nav__logo{
    width: 90px;
    height: 24px; 
    margin-right: 20px; 
}

.nav__browse{
    display: flex;
    flex: 1;
    
}


.nav__menu{
    color: #fff;
    display: flex;
    align-items: center;

}