.nav{
    position: fixed;
    z-index: 10000;
    transition: all 1s ease;
    width: 100vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 10px 0;
   
}


.nav__logo{
    width: 90px;
    height: 24px; 
    margin-right: 20px; 
}

.nav__browse{
    display: flex;
    flex: 1;
    
}


.nav__menu{
    color: #fff;
    display: flex;
    align-items: center;

}