*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #202020;
  font-family: sans-serif;
  color: #fff;
}

li{
  list-style: none;
  margin: 0 10px;
}
li:active{
  transform: scale(1.05);
  color: #fff
  
} 
a{
  text-decoration: none;
  font-size: .7rem;
  color: #eee;
  
}
a:hover{
          color: #ddd;
      }

.container{
  max-width: 90%;
  margin: 0 auto;
}
